# Exercice 1 : Concepts de base

### 1. Donner une brève description à KNN
  * KNN permet de faire la classification pour les problèmes non linéairement séparable
### 2. Pourquoi KNN est considéré comme étant un « leazy learner »
  * Il ne construit pas de modèle pendant l’apprentissage(pas de phase d’apprentissage)
### 3. Donner quelques cas d’utilisation de KNN
  * Systèmes de recommandation
  * Sciences politiques: classement des électeurs potentiels
  * Classification des images (OCR, reconnaissance d’écriture manuelle)
  * Classification des clients
### 4. Dans quels cas on ne peut pas utiliser le classifieur KNN ?
  * pour les datasets larges: lenteur d’exécution
  * pour les datasets non équilibrés
### 5. Quelles sont les principales faiblesses de KNN ?
  * Les caractéristiques (features) doivent être numérique
  * Il ne construit pas de modèle pendant l’apprentissage (lazy learner)
  * Changement de k, peut changer la prédiction
  * Non conseillé pour les datasets larges: lenteur d’exécution
  * Non efficace pour les datasets non équilibrés
  * Si on considère deux classes A et B. si la plus part des données sont classées en A, alors un nouveau enregistrement a plus de chance d’être classé en A
  * Très sensible aux données à valeurs aberrantes (outliers)
### 6. Quels sont les paramètres importants du classifieur KNN
  * le nombre k de voisins 
  * Type de la distance+tri entre new individu et les autres exemples (samples)
### 7. Quelles sont les pratiques à suivre pour bien identifier le paramètre k ? (voir exercice 5)
* •	On fait varier k.
* •	Pour chaque valeur de k, 
* • On calcule le taux d’erreur de l’ensemble de test
* •	On garde le paramètre k qui minimise ce taux d’erreur test

# Exercice 2 : Mise en œuvre de knn

### 1. Quel est le type de classification concernant le problème ci-dessus?
* Multiclass Classification (Multinomial classification)
### 2. Quelles sont les différentes méthodes pour calculer la distance entre deux enregistrements ?
* Distance de minkowski
* Distance euclidinne (q=2)
* Distance de manhatan (q=1)
### 3. Pourquoi la normalisation ou standardisation de données est importante pour faire une classification performante ?
* car Quand les données d’un Data Set sont dans des ordres de grandeurs différents, certains algorithmes de Machine Learning mettent plus de temps à trouver un modèle prédictif optimal.
* Le Feature Scaling permet de préparer les données quand elles ont des échelles différentes. Faire du Feature Scaling est une bonne pratique et il permettra d’avoir de meilleurs modèles prédictifs.Parmi les techniques du feature scaling, on retrouve la Standardisation et la Normalisation.
* La plus part des ML algorithmes ne fonctionnent pas convenablement dans telles situations
* Feature scaling (mise à l’échelle) des attributs avant d’appliquer ML algorithm est une étape importante de la préparation de données
### 4. Ecrire les formules mathématiques pour la normalisation et pour la standardisation
Parmi les méthodes: Rescaling & standardisation
* la normalisation 
* 𝒙𝒏𝒐𝒓𝒎=(𝒙−𝒙𝒎𝒊𝒏)/(𝒙𝒎𝒂𝒙 −𝒙𝒎𝒊𝒏)
* la standardisation:
* 1.moyenne:  μ=(∑𝒙_𝒊 )/𝒏
* 2.Déviation standard: 𝜎=√((∑(𝑥_𝑖−𝜇)^2 )/𝑛)
* 3.Donnée standardisée:𝒛=(𝒙−𝝁)/𝝈
### 5. Quand utiliser la normalisation et quand utiliser la standardisation ?
* Rescaling (Min-Max Normalisation): les valeurs des attributs sont mises entre 0 et 1
* Standardisation (Z-score normalization): la moyenne de chaque attribut est centrée sur 0
Si les données suivent une distribution gaussienne, appliquer la standardisation augmente la performance de votre machine learning
### 6. Ecrire une fonction qui permet de faire la standardisation et une autre fonction pour faire la normalisation

In [2]:
import numpy as np
import matplotlib.pyplot as plt
data = [[5.1, 3.5, 1.4, 0.2, 1],
 [4.9, 3.0, 1.4, 0.2, 1],
 [4.7, 3.2, 1.3, 0.2, 1],
 [7.0, 3.2, 4.7, 1.4, 2],
 [6.4, 3.2, 4.5, 1.5, 2],
 [6.9, 3.1, 4.9, 1.5, 2],
 [6.4, 3.2, 5.3, 2.3, 3],
 [6.5, 3.0, 5.5, 1.8, 3],
 [7.7, 3.8, 6.7, 2.2, 3]]
data = np.array(data)
data

array([[5.1, 3.5, 1.4, 0.2, 1. ],
       [4.9, 3. , 1.4, 0.2, 1. ],
       [4.7, 3.2, 1.3, 0.2, 1. ],
       [7. , 3.2, 4.7, 1.4, 2. ],
       [6.4, 3.2, 4.5, 1.5, 2. ],
       [6.9, 3.1, 4.9, 1.5, 2. ],
       [6.4, 3.2, 5.3, 2.3, 3. ],
       [6.5, 3. , 5.5, 1.8, 3. ],
       [7.7, 3.8, 6.7, 2.2, 3. ]])

In [6]:
import pandas as pd
data = pd.DataFrame(data, columns =['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'Flower'])
data

   sepal_length  sepal_width  petal_length  petal_width  Flower
0           5.1          3.5           1.4          0.2     1.0
1           4.9          3.0           1.4          0.2     1.0
2           4.7          3.2           1.3          0.2     1.0
3           7.0          3.2           4.7          1.4     2.0
4           6.4          3.2           4.5          1.5     2.0
5           6.9          3.1           4.9          1.5     2.0
6           6.4          3.2           5.3          2.3     3.0
7           6.5          3.0           5.5          1.8     3.0
8           7.7          3.8           6.7          2.2     3.0

In [7]:
X = data.iloc[:,0:4]
X

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           7.0          3.2           4.7          1.4
4           6.4          3.2           4.5          1.5
5           6.9          3.1           4.9          1.5
6           6.4          3.2           5.3          2.3
7           6.5          3.0           5.5          1.8
8           7.7          3.8           6.7          2.2

In [8]:
y = data.iloc[:,4]
y = y.tolist()
y

[1.0, 1.0, 1.0, 2.0, 2.0, 2.0, 3.0, 3.0, 3.0]

In [9]:
x1_min = min(X.iloc[:,0])
x1_max = max(X.iloc[:,0])
x1_max, x1_min

(7.7, 4.7)

### Méthode 1 (Normalisation)

In [12]:
def normalisation(X):
    return X.apply(lambda x: (x - x.min(axis=0)) / (x.max(axis=0) - x.min(axis=0)))

In [13]:
X = normalisation(X)
X

   sepal_length  sepal_width  petal_length  petal_width
0      0.133333        0.625      0.018519     0.000000
1      0.066667        0.000      0.018519     0.000000
2      0.000000        0.250      0.000000     0.000000
3      0.766667        0.250      0.629630     0.571429
4      0.566667        0.250      0.592593     0.619048
5      0.733333        0.125      0.666667     0.619048
6      0.566667        0.250      0.740741     1.000000
7      0.600000        0.000      0.777778     0.761905
8      1.000000        1.000      1.000000     0.952381

### Méthode 2 (Normalisation sans boucle)

In [14]:
def normalize(X):
    x_min = min(X.iloc[:,0])
    x_max = max(X.iloc[:,0])
    f = (lambda x: (x - x_min) / (x_max - x_min))
    X.iloc[:,0] = f(X.iloc[:,0])

    x_min = min(X.iloc[:,1])
    x_max = max(X.iloc[:,1])
    f = (lambda x: (x - x_min) / (x_max - x_min))
    X.iloc[:,1] = f(X.iloc[:,1])

    x_min = min(X.iloc[:,2])
    x_max = max(X.iloc[:,2])
    f = (lambda x: (x - x_min) / (x_max - x_min))
    X.iloc[:,2] = f(X.iloc[:,2])

    x_min = min(X.iloc[:,3])
    x_max = max(X.iloc[:,3])
    f = (lambda x: (x - x_min) / (x_max - x_min))
    X.iloc[:,3] = f(X.iloc[:,3])

    return X

In [15]:
X = normalize(X)
X

   sepal_length  sepal_width  petal_length  petal_width
0      0.133333        0.625      0.018519     0.000000
1      0.066667        0.000      0.018519     0.000000
2      0.000000        0.250      0.000000     0.000000
3      0.766667        0.250      0.629630     0.571429
4      0.566667        0.250      0.592593     0.619048
5      0.733333        0.125      0.666667     0.619048
6      0.566667        0.250      0.740741     1.000000
7      0.600000        0.000      0.777778     0.761905
8      1.000000        1.000      1.000000     0.952381

In [18]:
#Méthode 2 : Avec Boucle
def normalizeLoop(X):
    for i in range(len(X.iloc[0])):
        x_min = min(X.iloc[:,i])
        x_max = max(X.iloc[:,i])
        f = (lambda x: (x - x_min) / (x_max - x_min))
        X.iloc[:,i] = f(X.iloc[:,i])
    return X

In [19]:
normalizeLoop(X)

   sepal_length  sepal_width  petal_length  petal_width
0      0.133333        0.625      0.018519     0.000000
1      0.066667        0.000      0.018519     0.000000
2      0.000000        0.250      0.000000     0.000000
3      0.766667        0.250      0.629630     0.571429
4      0.566667        0.250      0.592593     0.619048
5      0.733333        0.125      0.666667     0.619048
6      0.566667        0.250      0.740741     1.000000
7      0.600000        0.000      0.777778     0.761905
8      1.000000        1.000      1.000000     0.952381

### Méthode 3 : (Normalisation) en Scikit Learn

In [20]:
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()
scalar.fit(X)
New_Data = scalar.transform(X)
New_Data

array([[0.13333333, 0.625     , 0.01851852, 0.        ],
       [0.06666667, 0.        , 0.01851852, 0.        ],
       [0.        , 0.25      , 0.        , 0.        ],
       [0.76666667, 0.25      , 0.62962963, 0.57142857],
       [0.56666667, 0.25      , 0.59259259, 0.61904762],
       [0.73333333, 0.125     , 0.66666667, 0.61904762],
       [0.56666667, 0.25      , 0.74074074, 1.        ],
       [0.6       , 0.        , 0.77777778, 0.76190476],
       [1.        , 1.        , 1.        , 0.95238095]])

### Standardisation en Python

In [22]:
def standardisation(X):
    for i in range(len(X.iloc[0])):
        f = (lambda x: (x - np.mean(x)) / (np.std(x)))
        X.iloc[:,i] = f(X.iloc[:,i])
    return X

In [23]:
standardisation(X)

   sepal_length  sepal_width  petal_length  petal_width
0     -1.096483     1.060911     -1.328772    -1.319190
1     -1.299954    -1.014784     -1.328772    -1.319190
2     -1.503425    -0.184506     -1.380542    -1.319190
3      0.836492    -0.184506      0.379649     0.180521
4      0.226079    -0.184506      0.276108     0.305497
5      0.734756    -0.599645      0.483190     0.305497
6      0.226079    -0.184506      0.690271     1.305304
7      0.327814    -1.014784      0.793812     0.680424
8      1.548641     2.306328      1.415056     1.180328

### Standardisation en Sklearn

In [25]:
from sklearn.preprocessing import StandardScaler
standard_scaler = StandardScaler()
standardized_data = standard_scaler.fit_transform(X)
standardized_data

array([[-1.09648277,  1.06091089, -1.32877173, -1.31919   ],
       [-1.2999538 , -1.01478433, -1.32877173, -1.31919   ],
       [-1.50342483, -0.18450624, -1.38054206, -1.31919   ],
       [ 0.83649201, -0.18450624,  0.37964907,  0.18052074],
       [ 0.22607892, -0.18450624,  0.27610841,  0.30549663],
       [ 0.7347565 , -0.59964529,  0.48318972,  0.30549663],
       [ 0.22607892, -0.18450624,  0.69027103,  1.30530379],
       [ 0.32781444, -1.01478433,  0.79381168,  0.68042431],
       [ 1.54864062,  2.30632802,  1.41505561,  1.18032789]])

### La distance Euclidienne

In [28]:
X1 = np.array(data)
X1

array([[5.1, 3.5, 1.4, 0.2, 1. ],
       [4.9, 3. , 1.4, 0.2, 1. ],
       [4.7, 3.2, 1.3, 0.2, 1. ],
       [7. , 3.2, 4.7, 1.4, 2. ],
       [6.4, 3.2, 4.5, 1.5, 2. ],
       [6.9, 3.1, 4.9, 1.5, 2. ],
       [6.4, 3.2, 5.3, 2.3, 3. ],
       [6.5, 3. , 5.5, 1.8, 3. ],
       [7.7, 3.8, 6.7, 2.2, 3. ]])

In [33]:
from math import sqrt
# calculate the Euclidean distance between two vectors
def euclidean_distance(test, dataset):
    distance = 0.0
    for i in range(len(dataset)-1):
        distance += (test[i] - dataset[i])**2
    return sqrt(distance)
test = [4.9, 3.0, 4.9, 2.1]
#X1 = dataset
for i in X1:
    distance = euclidean_distance(test, i)
    print(distance)

4.018706259482024
3.982461550347976
4.080441152620634
2.2315913604421396
1.6763054614240211
2.090454496036687
1.57797338380595
1.7349351572897467
3.4249087579087414